.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-left: 1px solid #dee3e1;
    padding: 10px 15px;
}

.radioButtonsWrapper{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.span{
    color: #aaaaaa;
    margin-right: 50px;
}